
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Endereço</h1>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <section class="col-lg-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Busca CEP</h3>
            </div>
            <div class="card-body">
                <form asp-controller="Home" asp-action="ConsultaCep" method="post">
                    <div class="row">
                        <div class="input-group col-md-4 col-lg-4">
                            <input type="text" id="cep" name="cep" placeholder="Digite o Cep" maxlength="9" class="form-control">
                            <div class="input-group-append">
                                <button type="button" id="btn-cep" class="btn btn-info">Buscar</button>
                            </div>
                        </div>
                    </div>
                    <div id="mostrar-endereco" class="mt-4">
                        <div class="row">
                            <div class="form-group col-lg-10">
                                <label for="endereco">Endereço</label>
                                <input type="text" id="endereco" class="form-control" disabled />
                            </div>
                            <div class="form-group col-lg-2">
                                <label for="numero">Número</label>
                                <input type="text" id="numero" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-7">
                                <label for="bairro">Bairro</label>
                                <input type="text" id="bairro" class="form-control" disabled />
                            </div>
                            <div class="form-group col-lg-5">
                                <label for="complemento">Complemento</label>
                                <input type="text" id="complemento" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-10">
                                <label for="cidade">Cidade</label>
                                <input type="text" id="cidade" class="form-control" disabled />
                            </div>
                            <div class="form-group col-lg-2">
                                <label for="uf">UF</label>
                                <input type="text" id="uf" class="form-control" disabled />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="modal-error" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h4 class="modal-title">Erro</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-white">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="msg-error"></p>
            </div>
            <div class="modal-footer justify-content-end">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
<script>
    $('nav ul li a.nav-link').removeClass('active');
    $('.menu-1').addClass('active');

    $('#cep').focus();

    $('#btn-cep').click(function (evt) {
        $('.card-body').after('<div class="overlay dark"><i class="fas fa-2x fa-sync-alt fa-spin"></i></div>');
        $.ajax({
            url: '/Home/ConsultaCep',
            type: 'POST',
            data: '__RequestVerificationToken=' + $('input[name="__RequestVerificationToken"]').val() + '&cep=' + $('#cep').val(),
            contentType: 'application/x-www-form-urlencoded',
            success: function (data) {
                $('.overlay').remove();
                if (!data.error) {
                    $('#endereco').val(data.result.logradouro);
                    $('#bairro').val(data.result.bairro);
                    $('#complemento').val(data.result.complemento.replace(/^\s?-\s/, ''));
                    $('#cidade').val(data.result.cidade);
                    $('#uf').val(data.result.uf);
                }
                else {
                    console.log(data);
                    $('.msg-error').text(data.message);
                    $('#modal-error').modal('show');
                }
            }
        });
    });
</script>
}
