
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Sobre</h1>
            </div>
        </div>
    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Consumindo Web Service SOAP dos Correios</h3>
    </div>
    <div class="card-body">
        <p>Cliente para Consumir o Web Service SOAP dos Correios <a href="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente?wsdl">https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente?wsdl</a></p>
        <p>Preenchendo o formulário com o endereço informado pelo CEP</p>
    </div>
</div>

@section scripts {
<script>
    $('nav ul li a.nav-link').removeClass('active');
    $('.menu-2').addClass('active');
</script>
}
